<%-include("partials/header", {title: title})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <form action="/admin/socials/create" method="post">
    <table>
      <tr>
        <td>
          <label for="">Web site: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="web" placeholder="Web site" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="">Logo: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="logo" placeholder="Logo" required>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" class="button create">Submit</button>
        </td>
      </tr>
    </table>
  </form>
<%-include("partials/footer")-%>