<div class="galery-image-card" style="background-image: linear-gradient(to left, #00000050, #00000050), url('/images/<%=current.image%>');">
    <i class="fa-solid fa-magnifying-glass-plus" style="color: #fff" onclick="setFullscreen(this)"></i>
</div>

