<div class="sidebar-event">
    <a href="/event/<%=result._id%>" class="sidebar-event-title"> <%-result.title-%></a>
    <br>
    <a href="/event/<%=result._id%>" class="sidebar-event-content"><%-result.content.substring(0,100)-%>...</a>
</div>