<div class="galery-video-card">
    <div class="galery-video-cover" style="background-image: linear-gradient(to left, #00000050 , #00000050), url('/images/<%=current.cover%>');">
        <i class="fa-solid fa-play" style="color: #ffffff;" onclick="playVideo(this)" aria-label="<%=current.video%>"></i>
    </div>
    <div class="galery-video-title"><%-current.title-%></div>
</div>