<div class="sidebar">
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="admin-logo" />
      </a>
    </div>
    <div class="nav-elem">
      <a href="/admin/abouts"><i class="fa-solid fa-address-card"></i>About</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/communities"><i class="fa-solid fa-people-group"></i>Community</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/contacts"><i class="fa-solid fa-location-dot"></i>Contact</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/events"><i class="fa-solid fa-calendar-days"></i>Event</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/famouses"><i class="fa-solid fa-fire"></i>Famous</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/heroes"><i class="fa-solid fa-monument"></i>Hero</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/images"><i class="fa-solid fa-image"></i>Image</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/members"><i class="fa-solid fa-person-circle-plus"></i>Member</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/missions"><i class="fa-solid fa-list-check"></i>Mission</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/news"><i class="fa-solid fa-newspaper"></i>News</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/socials"><i class="fa-solid fa-share-from-square"></i>Social</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/users"><i class="fa-solid fa-users"></i>User</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/videos"><i class="fa-solid fa-video"></i>Video</a>
    </div>
    <!-- <div class="nav-copyright">Developed by Memo</div> -->
  </div>
  